body {
    background-color: lightblue;
    color: white;
}
.main{
    width:50%;
    margin-left:25%;
    text-align: center;
}
h1 {
    color: blue;
    margin-left: 25px;
}
#head{
    font-weight:800px;
}
img{
    height: 200px;
    width: 200px;
}
*{
    text-align= center;
}
footer{
    font-family: cursive;
}
