body {
    background-color: lightblue;
    color: white;
}
.main{
    width:50%;
    margin-left:25%;
    text-align: center;
    height: 50px;
    width: 50px
    font-weight:800px;
}

.minor{
     width:50%;
    margin-left:25%;
    font-family: cursive;
    text-align: center;
}
