body {
    background-color: cornflowerblue;
    color: white;
    font-size: 25px;
  }
  html{
    font-size: 1rem;
  }
.heading{
    padding: 10px;
    background-color: blue;
    display: flex;
    gap: 1rem;
}
